{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container-fluid">
    <div class="row my-3 ">
        <h1>Login Page</h1>
        <br>
        <form action="" method="post" class="shadow p-4">
            {% csrf_token %}
            {% for fm in form %}
                <div class="mb-3">
                    {{ fm.label_tag }}{{ fm }}
                    <br>
                <div>
            {% endfor %}
                <br>
            <input type="submit" class="btn btn-primary">
            <br>
    </div>
</div>

{% endblock main-content %}