{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ms-auto"> <!-- Apply ms-auto here -->
        <a class="navbar-brand" href="#">
            <img src="{% static "app/images/logo.png" %}" height="65">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Mobiles</a></li>
                        <li><a class="dropdown-item" href="#">Tabs</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Home-Electronics</a></li>
                        <li><a class="dropdown-item" href="#">Security</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                
            </ul>
            <!-- Shifted to right side -->
            <ul class="navbar-nav">
              <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ashish
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Orders</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Registration</a>
                </li>
            </ul>
            <!-- Shifted to right side ends -->
        </div>
    </div>
</nav>
